{% extends is_granted('ROLE_ADMIN') ? 'base_admin.html.twig' : 'base.html.twig' %}

{% block title %}Appointments{% endblock %}

{% block body %}
<div class="container">
    <h1>Appointments</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Service</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rendez_vous in rendezvousList %}
            <tr>
                <td>{{ rendez_vous.date ? rendez_vous.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ rendez_vous.service.nom }}</td>
                <td>{{ rendez_vous.statut ? 'Processed' : 'Pending' }}</td>
                <td>
                  
                    
                        <a href="{{ path('app_rendez_vous_show', {'id': rendez_vous.id}) }}" 
                           class="btn btn-sm btn-info">View</a>
                                               {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_AGRICULTEUR') or is_granted('ROLE_VETERINAIRE') or is_granted('ROLE_EXPERT')) %}
                        <a href="{{ path('app_rendez_vous_edit', {'id': rendez_vous.id}) }}" 
                           class="btn btn-sm btn-info">Edit</a>
                        <a href="{{ path('app_rendez_vous_delete', {'id': rendez_vous.id}) }}" 
                           class="btn btn-sm btn-danger">Delete</a>
                    {% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No appointments found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_CLIENT') or is_granted('ROLE_AGRICULTEUR') %}
        <a href="{{ path('app_rendez_vous_new') }}" class="btn btn-primary">Schedule New Appointment</a>
    {% endif %}
</div>
{% endblock %}
